<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Rob Fletcher</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>R6BxLKQMcb/6l+/49VHRFAHeTbf/R4kVDuJMTwDP4qpzdJ5+6FTOyAiQLvoazpS+</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.5">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$b3/LAxZ1nUnJ3cp10ELf3.lXJBEi3YnvCNWYE4nTTnhw1/zwfUVKm</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5">
      <emailAddress>rob@energizedwork.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>