<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ci</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>3wroRo3OhRDEZsOQG5weW8akjt3WM5FswcjyjrSwV3A+O1mJh0lX56yZYdfc0WCu</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.5">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5">
      <emailAddress>ci@MyCircles-Mac-mini.local</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>